@charset "UTF-8";

/* Geral */

/* Desktop e Outras telas */

/* header desktop left */

/* .menu_desktop_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    gap: 2em;
    padding: 0;
}

.menu_desktop_items > li > a {
    text-decoration: none;
    color: white;
} */

/*  header desktop right */